In [3]:
# EXP 3

In [4]:
# AIM : To Perform Basic of Data Frame

In [5]:
# NAME: Kartiki Yawatkar
# Roll no:66
#SEC:A
# Subject:Emerging Technology 1(ET 1)
#Date:25/8/2025

# To Perform Basic of DataFrame

In [3]:
#import pandas library
import pandas as pd

In [4]:
#creating Data frame
df=pd.DataFrame([[10,14,15,11],[12,15,17,16],[9,7,12,14]],
columns=["CD","DBMS","DSS","CAO"])

In [5]:
df

   CD  DBMS  DSS  CAO
0  10    14   15   11
1  12    15   17   16
2   9     7   12   14

In [6]:
df.shape

(3, 4)

In [7]:
df.size

12

In [8]:
df.ndim

2

# Adding attribute row

In [9]:
 df2=pd.DataFrame([[11,14,10,11]],
columns=["CD","DBMS","DSS","CAO"])

In [10]:
df2

   CD  DBMS  DSS  CAO
0  11    14   10   11

In [11]:
df3 = pd.DataFrame(columns=df.columns)  # empty DataFrame with same columns
df3 = pd.concat([df3, df], ignore_index=True)

In [12]:
df3

   CD DBMS DSS CAO
0  10   14  15  11
1  12   15  17  16
2   9    7  12  14

In [13]:
df3.size

12

In [14]:
df3.shape

(3, 4)

# Adding attribute column

In [18]:
df3["DM"] = pd.Series([12, 14, 20, 12])

In [20]:
df3

   CD DBMS DSS CAO  DM
0  10   14  15  11  12
1  12   15  17  16  14
2   9    7  12  14  20

# Deleting Record from dataframe

In [21]:
df4=df3.drop(index=[1])

In [22]:
df4

   CD DBMS DSS CAO  DM
0  10   14  15  11  12
2   9    7  12  14  20

# Deleting Column from dataframe

In [23]:
df5=df3.drop(columns=["DM"])

In [24]:
df5

   CD DBMS DSS CAO
0  10   14  15  11
1  12   15  17  16
2   9    7  12  14

In [25]:
#Finding mean of DSS
print("Mean of DSS:",df5["DSS"].mean())

Mean of DSS: 14.666666666666666

In [26]:
#Finding median of DSS
print("Mean of DSS:",df5["DSS"].median())

Mean of DSS: 15.0